.dashlet.imports .download-log-btn {
	background: url(/share/res/images/down-arrow-16.png) no-repeat;
    width: 100%;
    height: 16px;
    display: block;
    background-position: 50%;
}

.dashlet.imports .import-date-range {
	font-size: 10px;
}
