.dash-tab .body {
    min-height: 300px!important;
}

.tab_container {
    margin: 0 !important;
    padding: 0 !important;
    list-style-type: none;
    width: 300px;
    min-height: 0 !important;
    /*white-space:nowrap;*/
    /*text-overflow: ellipsis;*/
}
.ecmc-search-container {
    display: inline-block;
    position: relative;
    overflow: hidden;
    /* trash NDS-224 */
    width: 40%;
}
.ecmc-search-container input {
	/* trash NDS-224 */
	width: calc(100% - 30px) !important;
}
div.ecmc-search-clear {
    display: inline-block;
    position: absolute;
    top: 3px;
    right: 3px;
    transition: right 0.2s;
    width: 16px;
    height: 16px;
    line-height: 16px;
    background: url(/share/res/js/aikau/1.0.101.3/alfresco/css/images/Delete.PNG) no-repeat;
}

.dash-tab .tab_container *{
	float:left;
}
#basic-accordian{
	border:0;
}
.accordion_collapsed {
    background: #d7e0e7;
    cursor: pointer;
    display: inline-block;
    width: 100%;
}
.accordion_collapsed_img {
    margin: auto;
    padding-top: 7px;
}
.accordion_space {
    border-left: 12px solid #d7e0e7 !important;
}
.accordion_child_space {
    border-left: 18px solid #d7e0e7 !important;
    width: 93% !important;
}
.accordion_headings {
	cursor:pointer;
    border-left: 1px solid #d7e0e7;
    border-bottom: 1px solid #d7e0e7;
    display: inline;
    color: #262d35;
    background-color: #d7e0e7;
    width: 96%;
}
.accordion_headings a:hover{
	/*background-color:#C4C5C5;*/
    border-left: 5px solid #3333FF;
}
.accordion_headings a {
    padding: 5px;
    border-left: 5px solid #33ADFF;
    display: inline-block;
}
.accordion_child{
	padding:1px;
}
.header_highlight {
	background:#C4C5C5;
}
.header_highlight a {
    border-left: 5px solid #3333FF;
}

.columnHideShowBtn {
    background:#D8D8DA url(/share/res/cmm/css/images/columns-16.png) no-repeat 50% 50%;
    cursor: pointer;
    width: 16px;
    height: 16px;
}

td.columnHideShow {
    width: 1%;
}

.yui-dt-hidden {
    display: none;
}

.hideshowdialog-title {
    font-size: larger;
    padding: 3px;
}

.hideshowdialog-label {
    padding-bottom: 5px;
    padding-left: 5px;
    font-size: medium;
}

.hideshowdialog-field {
    line-height:25px;
    padding-left: 20px;
}

.set-bordered-panel-heading {
	background-color: transparent!important;
	/*color: #58ACFA!important;*/
    font-weight: bold;
    font-size: large;
	padding: 0.3em 0.6em;
	text-align: left;
}
.set-bordered-panel-body {
	padding: 1em 0.2em 0 0.6em;
    border: 1px solid #A2A2A2 !important;
	/*border: 1px solid #58ACFA!important;*/
}

/* Toolbars */

.dash-tab .toolbar .yui-pg-container,
.dash-tab .toolbar .yui-pg-container .yui-pg-current {
   /*line-height: 2;*/
   margin: 0 0 0 0.3em;
   padding: 0;
}

/* Body */
.dash-tab .dash-body {
    background-color: #fff;
}
.dash-tab .dash-body h4 {
   margin-bottom: 0.2em;
}

/* Data Table */

.dash-tab .yui-dt-col-isPooled div {
   text-align: center
}

.dash-tab .yui-dt-col-isPooled img {
   margin-bottom: 0.5em;
}

.dash-tab .yui-dt-col-title .yui-dt-liner {
   line-height: 1.4;
   padding-top: 0;
}

.dash-tab .yui-dt-col-name a:active,
.dash-tab .yui-dt-col-name a:hover {
   /*text-decoration: none;*/
}

.dash-tab .yui-dt-highlighted a {
   visibility: visible;
}

.yui-dt-error {
    color: red;
}

.fix-problem-with-size .yui-pg-rpp-options {
    width: auto !important;
}

.has_content {
    border: 1px solid transparent;
    display: inline-block;
    vertical-align: bottom;
}

.has_content img {
	vertical-align: bottom;
	max-height: 1.3em;
}

.has_content.invisible {
	visibility: hidden !important;
}

