.about-label {
    padding-top: 0.5em;
    font-weight: normal;
    vertical-align: sub;
    line-height: 1.5;
}
.about-value {
    padding-top: 0.5em;
    font-weight: bold;
    padding-left: 1em;
    vertical-align: sub;
    line-height: 1.5;
}