.yui-dialog .form-container .caption {
    background: #9bc666 none repeat scroll 0 0;
}
.ecmc_message_block {
    font-size: medium;
}
.ecmc_normal {
}
.ecmc_error {
    color: red;
}
.ecmc_titled {
    cursor: help;
    text-decoration: dashed;
}