
.ecmc_dl_button_selected {
    background: url("../../../../themes/default/images/sprite.png") repeat scroll 0 -1350px !important;
}

table.ecmc_dl_main_table {
    border:solid 1px #cccccc;
    background: white;
    width: 100%;
}

div.ecmc_dl_over_block {
    overflow-y: scroll;
    width: 100%;
    height: 200px
}

table.ecmc_dl_main_table tr {
    vertical-align: top;
}

table.ecmc_dl_main_table th {
    vertical-align: middle;
    height: 26px;
}

table.ecmc_dl_main_table td {
    vertical-align: top;
    padding-bottom: 1px;
    padding-top: 1px;
}

table.ecmc_dl_table {
    table-layout: fixed;
    width: 100%;
}
table.ecmc_dl_table td {
    /*max-width: 100%;*/
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
}
table.ecmc_dl_table td:first-child {
    width: 80%;
}
table.ecmc_dl_table td:nth-child(2) {
    width: 20%;
    min-width: 70px!important;
    text-align: center;
}
.viewmode-field table.ecmc_dl_table td:first-child {
    width: 100%!important;
}

a.ecmc_dl_action * {
    padding: 8px;
}

textarea.docs-approve {
    min-height: 50px;
}