<span data-dojo-attach-event="mousedown:onMouseDown" tabindex="0">
   <span class="ecmc-renderers-PublishAction__image" data-dojo-attach-point="imageNode"></span>
   <span class="ecmc-renderers-PublishAction__label">${label}</span>
</span>