span.ecmc-renderers-PublishAction__label {
    text-decoration: underline !important;
    cursor: pointer;
    color: #0000EE !important;
}
img.ecmc-renderers-PublishAction__image {
    vertical-align: text-bottom;
    cursor: pointer;
}