Уважаемый {0}!<br/>
<br/> 
Ваш запрос на предоставление доступа к документам Федерального информационного фонда технических регламентов и стандартов будет рассмотрен после получения подписанного с Вашей стороны заявления на регистрацию.<br/>
<br/> 
Заявление находится во вложении, просим Вас проверить корректность данных в заявлении.<br/>
<br/> 
Заполненное и подписанное заявление необходимо направить по почте в ФГУП «СТАНДАРТИНФОРМ» для подтверждения регистрации и получения доступа.<br/>
<br/> 
С уважением,<br/>
ФГИС "НОРМДОК"<br/>
<br/> 
<small>
Обращаем Ваше внимание, что данное письмо сгенерировано автоматически, ответные письма на данный адрес к рассмотрению не принимаются. Пожалуйста, проигнорируйте данное письмо, если оно попало к Вам по ошибке.
</small> 
