<div>
    <table>
        <tr>
            <td><span class="about-label">${system_version_label}:&nbsp;</span></td>
            <td><span class="about-value">${system_version_value}</span></td>
        </tr>
        <tr>
            <td><span class="about-label">${rev_version_label}:&nbsp;</span></td>
            <td><span class="about-value">${rev_version_value}</span></td>
        </tr>
        <tr>
            <td><span class="about-label">${alf_version_label}:&nbsp;</span></td>
            <td><span class="about-value">${alf_version_value}</span></td>
        </tr>
        <tr>
            <td><span class="about-label">${share_version_label}:&nbsp;</span></td>
            <td><span class="about-value">${share_version_value}</span></td>
        </tr>
    </table>
</div>